node_modules/
.env
.env.*
!.env.example
dist/
build/
coverage/
*.log
.DS_Store
.vscode/
.idea/
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*


__pycache__/
*.pyc
*.zip
*.code-workspace
*screenshot.png
*_screenshot.png
backend/meesho_html.txt
